@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap');

h1{
    font-family:  Dancing Script;
    font-size: 100px;
    text-align: center;
}

body{
    background: linear-gradient(122.59deg, #57B6E5 0%, #8257E5 69.5%);
}

h3{
    font-family:Dancing Script;
    font-size: 50px;
}

.ling img{
    width: 200px;
}

.ling p{
    font-size:20px;
}
.lazer p{
    font-size:20px;
}

.lazer img {
width: 200px;
}

#esco{
    text-align: center;
}